In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
def acquire_data():

    # Creating list to loop and store the new dataframes
    csv_list = ['backloggd_games', 'PS4_GamesSales', 'Video_Games_Sales_as_at_22_Dec_2016', 'XboxOne_GameSales', 'all_games']
    df_list = []

    # Looping throgh the JSON file names
    for item in csv_list:
        try:
            # Specify the encoding when reading the CSV file
            df = pd.read_csv(item + '.csv', encoding='utf-8')
            df_list.append(df)
        except UnicodeDecodeError:
            # Try a different encoding if utf-8 doesn't work
            try:
                df = pd.read_csv(item + '.csv', encoding='latin-1')
                df_list.append(df)
            except UnicodeDecodeError:
                # If still unsuccessful, try other encodings
                # Add more encodings to try as needed
                df = pd.read_csv(item + '.csv', encoding='ISO-8859-1')
                df_list.append(df)

        
    return df_list

In [3]:
len(acquire_data())

5

In [4]:
allgen, ps, nin, xbox, meta = acquire_data()

In [5]:
allgen.head(2)

,Unnamed: 0,Title,Release_Date,Developers,Summary,Platforms,Genres,Rating,Plays,Playing,Backlogs,Wishlist,Lists,Reviews
0,0,Elden Ring,"Feb 25, 2022","['FromSoftware', 'Bandai Namco Entertainment']","Elden Ring is a fantasy, action and open world...","['Windows PC', 'PlayStation 4', 'Xbox One', 'P...","['Adventure', 'RPG']",4.5,21K,4.1K,5.6K,5.5K,4.6K,3K
1,1,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",The Legend of Zelda: Breath of the Wild is the...,"['Wii U', 'Nintendo Switch']","['Adventure', 'Puzzle']",4.4,35K,3.1K,5.6K,3K,5.1K,3K

In [6]:
len(allgen)

60000

# PlayStation

In [7]:
ps.head(10)

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80
5,FIFA 17,2016.0,Sports,Electronic Arts,1.26,7.95,0.12,1.61,10.94
6,Uncharted (PS4),2016.0,Action,Sony Interactive Entertainment,4.49,3.93,0.21,1.70,10.33
7,Spider-Man (PS4),2018.0,Action-Adventure,Sony Interactive Entertainment,3.64,3.39,0.32,1.41,8.76
8,Call of Duty: Infinite Warfare,2016.0,Shooter,Activision,3.11,3.83,0.19,1.36,8.48
9,Fallout 4,2015.0,Role-Playing,Bethesda Softworks,2.91,3.97,0.27,1.34,8.48

In [8]:
# removing any rows with no sales on record

ps = ps[ps[['North America', 'Europe', 'Japan', 'Rest of World', 'Global']].sum(axis=1)>0]
ps

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80
...,...,...,...,...,...,...,...,...,...
707,Hyper Light Drifter,2017.0,Role-Playing,Active Gaming Media,0.00,0.00,0.01,0.00,0.01
708,Teslagrad,2014.0,Platform,Rain Games,0.00,0.01,0.00,0.00,0.01
709,Darius Burst: Chronicle Saviours,2017.0,Action,Kadokawa Games,0.00,0.00,0.01,0.00,0.01
710,The Escapists: The Walking Dead,2016.0,Action,Team17 Software,0.00,0.00,0.00,0.00,0.01
711,Super Meat Boy,2016.0,Platform,Team Meat,0.00,0.00,0.00,0.00,0.01

In [9]:
len(ps)

712

# Nintendo

In [10]:
nin.head(2)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
len(nin)

16719

In [12]:
nin.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')

In [13]:
nin.drop(columns=['Critic_Score', 'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'], inplace=True)

In [14]:
nin.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [15]:
# rename this column
nin = nin.rename(columns={'Name': 'Game'})
nin.head()

,Game,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [16]:
nin = nin.rename(columns={'NA_Sales': 'North America', 'EU_Sales': 'Europe', 
                          'JP_Sales': 'Japan', 'Other_Sales': 'Rest of World', 
                          'Global_Sales': 'Global'})
nin.head()

,Game,Platform,Year_of_Release,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [17]:
nin = nin.rename(columns={'Year_of_Release': 'Year'})
nin.head()

,Game,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [18]:
nin.drop(columns='Platform', inplace=True)

# Xbox

In [19]:
xbox.tail(10)

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
603,604,Metro Exodus,2019.0,Shooter,Deep Silver,0.0,0.0,0.0,0.0,0.0
604,605,Anthem,2019.0,Role-Playing,Electronic Arts,0.0,0.0,0.0,0.0,0.0
605,606,AereA,2017.0,Role-Playing,Soedesco,0.0,0.0,0.0,0.0,0.0
606,607,Moons Of Madness,2018.0,Role-Playing,Unknown,0.0,0.0,0.0,0.0,0.0
607,608,Iron Harvest,2018.0,Strategy,Unknown,0.0,0.0,0.0,0.0,0.0
608,609,Biomutant,2018.0,Action,THQ Nordic,0.0,0.0,0.0,0.0,0.0
609,610,Biomutant,2019.0,Action,THQ Nordic,0.0,0.0,0.0,0.0,0.0
610,611,de Blob,2017.0,Platform,THQ Nordic,0.0,0.0,0.0,0.0,0.0
611,612,Outcast: Second Contact,2017.0,Adventure,Bigben Interactive,0.0,0.0,0.0,0.0,0.0
612,613,Code Vein,2019.0,Action,Bandai Namco Entertainment,0.0,0.0,0.0,0.0,0.0

In [20]:
# dropping columns
xbox = xbox[xbox[['North America', 'Europe', 'Japan', 'Rest of World', 'Global']].sum(axis=1)>0]
xbox

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,3,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,4,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,5,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43
...,...,...,...,...,...,...,...,...,...,...
418,419,ScreamRide,2015.0,Simulation,Microsoft Studios,0.00,0.01,0.00,0.00,0.01
419,420,Torment: Tides of Numenera,2017.0,Role-Playing,Techland,0.01,0.00,0.00,0.00,0.01
420,421,Ziggurat,2016.0,Shooter,Soedesco,0.00,0.01,0.00,0.00,0.01
421,422,ATV Renegades,2017.0,Racing,Nighthawk Interactive,0.00,0.00,0.00,0.00,0.01
422,423,This Is The Police,2017.0,Simulation,THQ Nordic,0.00,0.00,0.00,0.00,0.01

In [21]:
len(xbox)

423

# Metacritic

In [22]:
meta.head()

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

In [23]:
meta.columns

Index(['name', 'platform', 'release_date', 'summary', 'meta_score',
       'user_review'],
      dtype='object')

In [24]:
# Dropping unnecessary columns
meta.drop(columns=['platform', 'release_date', 'summary'], inplace=True)

In [25]:
meta.rename(columns={'name': 'Game', 'meta_score': 'Meta Score', 'user_review': 'User Review'}, inplace=True)

In [26]:
len(meta)

18800

In [27]:
meta.head(3)

                                   Game  Meta Score User Review
0  The Legend of Zelda: Ocarina of Time          99         9.1
1              Tony Hawk's Pro Skater 2          98         7.4
2                   Grand Theft Auto IV          98         7.7

In [28]:
meta.value_counts()

Game                                             Meta Score  User Review
LEGO Indiana Jones: The Original Adventures      77          7.7            2
Karaoke Revolution Party                         80          tbd            2
Trine 2                                          85          7.2            2
Street Fighter III: Third Strike Online Edition  86          7.2            2
Kingdoms of Amalur: Re-Reckoning                 72          7.0            2
                                                                           ..
Graceful Explosion Machine                       75          tbd            1
Grabbed by the Ghoulies                          66          7.7            1
Gothic II                                        79          9.0            1
Gothic 3: Forsaken Gods                          44          3.2            1
xXx                                              50          5.0            1
Length: 18739, dtype: int64

In [29]:
meta.describe()

         Meta Score
count  18800.000000
mean      70.648883
std       12.225006
min       20.000000
25%       64.000000
50%       72.000000
75%       80.000000
max       99.000000

In [30]:
meta[meta['Game']=='Grand Theft Auto V']

                  Game  Meta Score User Review
8   Grand Theft Auto V          97         7.9
9   Grand Theft Auto V          97         8.3
11  Grand Theft Auto V          97         8.3
17  Grand Theft Auto V          97         8.4
25  Grand Theft Auto V          96         7.8

In [31]:
meta['Meta Score'].astype(str).str.isdigit().sum()

18800

In [32]:
meta['User Review'].astype(str).str.isdigit().sum()

0

In [33]:
meta.groupby('Game').mean()

/var/folders/qh/kjmdb2zx3n3b2ng_n4q3cyn00000gn/T/ipykernel_99965/3847869580.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  meta.groupby('Game').mean()

                                Meta Score
Game
#DRIVE                                69.0
#IDARB                                77.0
#KILLALLZOMBIES                       53.0
'Splosion Man                         84.0
.detuned                              46.0
...                                    ...
rain                                  72.0
theHunter: Call of the Wild           64.0
uDraw Studio                          71.0
void tRrLM(); //Void Terrarium        74.0
xXx                                   50.0

[12254 rows x 1 columns]

In [34]:
meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18800 entries, 0 to 18799
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Game         18800 non-null  object
 1   Meta Score   18800 non-null  int64
 2   User Review  18800 non-null  object
dtypes: int64(1), object(2)
memory usage: 440.8+ KB

In [35]:
meta['User Review'].value_counts()

tbd    1365
7.7     727
7.8     701
7.5     682
7.6     673
       ...
1.3       2
9.4       1
0.9       1
0.2       1
0.7       1
Name: User Review, Length: 94, dtype: int64

In [36]:
# removed all data with 'tbd' as a review score
meta = meta[meta['User Review']!='tbd']
meta.head()

                                   Game  Meta Score User Review
0  The Legend of Zelda: Ocarina of Time          99         9.1
1              Tony Hawk's Pro Skater 2          98         7.4
2                   Grand Theft Auto IV          98         7.7
3                           SoulCalibur          98         8.4
4                   Grand Theft Auto IV          98         7.9

In [37]:
len(meta)

17435

In [38]:
meta['User Review'].value_counts()

7.7    727
7.8    701
7.5    682
7.6    673
7.3    632
      ...
1.3      2
9.4      1
0.9      1
0.2      1
0.7      1
Name: User Review, Length: 93, dtype: int64

In [39]:
meta.value_counts()

Game                           Meta Score  User Review
Sniper: Ghost Warrior 2        52          5.9            2
Rise of the Tomb Raider        86          8.0            2
Grand Theft Auto V             97          8.3            2
Jackass the Game               58          6.7            2
Styx: Shards of Darkness       72          7.2            2
                                                         ..
Goodbye Deponia                80          7.9            1
Gorasul: Legacy of the Dragon  53          5.9            1
Gore: Ultimate Soldier         58          7.2            1
Gorogoa                        83          7.9            1
xXx                            50          5.0            1
Length: 17385, dtype: int64

In [40]:
# Converting to integer
meta['User Review'] = pd.to_numeric(meta['User Review'], errors='coerce')

In [41]:
meta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17435 entries, 0 to 18799
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Game         17435 non-null  object
 1   Meta Score   17435 non-null  int64
 2   User Review  17435 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 544.8+ KB

In [42]:
meta = meta.groupby('Game').mean()
meta = meta.reset_index()

## Meta Score Averages

In [43]:
meta

                                 Game  Meta Score  User Review
0                              #IDARB        77.0         6.90
1                       'Splosion Man        84.0         7.80
2                            .detuned        46.0         3.70
3             .hack//G.U. Last Recode        72.5         8.15
4         .hack//G.U. vol. 1//Rebirth        69.0         8.10
...                               ...         ...          ...
11392                  oOo: Ascension        70.0         7.30
11393                            rain        72.0         7.80
11394     theHunter: Call of the Wild        64.0         7.10
11395  void tRrLM(); //Void Terrarium        74.0         7.00
11396                             xXx        50.0         5.00

[11397 rows x 3 columns]

# Combining Datasets

In [44]:
len(xbox)

423

In [45]:
len(ps)

712

In [46]:
# merginfg xb and ps df
xb_ps = pd.merge(xbox, ps, on='Game', how='outer')
xb_ps.tail(50)

,Pos,Game,Year_x,Genre_x,Publisher_x,North America_x,Europe_x,Japan_x,Rest of World_x,Global_x,Year_y,Genre_y,Publisher_y,North America_y,Europe_y,Japan_y,Rest of World_y,Global_y
702,NaN,Resident Evil: Value Pack,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,Action-Adventure,Capcom,0.00,0.00,0.02,0.0,0.02
703,NaN,God Eater Off Shot: Tachibana Sakuya-hen Twin ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,Action,Namco Bandai Games,0.00,0.00,0.02,0.0,0.02
704,NaN,PaRappa the Rapper Remastered,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Music,Sony Interactive Entertainment,0.00,0.00,0.02,0.0,0.02
705,NaN,Earth's Dawn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,Action,Rising Star Games,0.02,0.00,0.00,0.0,0.02
706,NaN,Dungeons 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,Role-Playing,Kalypso Media,0.02,0.00,0.00,0.0,0.02
707,NaN,Tricky Towers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Puzzle,Soedesco,0.02,0.00,0.00,0.0,0.02
708,NaN,No Heroes Allowed! VR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Strategy,Sony Interactive Entertainment,0.00,0.00,0.02,0.0,0.02
709,NaN,ArmaGallant: Decks of Destiny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Strategy,Maximum Games,0.02,0.00,0.00,0.0,0.02
710,NaN,Armello,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,Strategy,League of Geeks,0.02,0.00,0.00,0.0,0.02
711,NaN,Patapon Remastered,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Music,Sony Interactive Entertainment,0.00,0.00,0.02,0.0,0.02
712,NaN,Monster Hunter Frontier Z: Beginner's Package,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,Action,Capcom,0.00,0.00,0.02,0.0,0.02
713,NaN,Professional Farmer 2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,Action,Namco Bandai Games,0.00,0.02,0.00,0.0,0.02
714,NaN,Natsuiro High School: Seishun Hakusho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,Action,D3Publisher,0.00,0.00,0.02,0.0,0.02
715,NaN,SteamWorld Collection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,Misc,Rising Star Games,0.02,0.00,0.00,0.0,0.02
716,NaN,Konoyo no Hate de Koi o Utau Shoujo: Yu-No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Visual Novel,5pb,0.00,0.00,0.02,0.0,0.02
717,NaN,God Eater Off Shot: Fujiki Kota-hen Twin Pack ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,Misc,Namco Bandai Games,0.00,0.00,0.02,0.0,0.02
718,NaN,Genkai Tokki: Castle Panzers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Role-Playing,Compile Heart,0.00,0.00,0.02,0.0,0.02
719,NaN,Skullgirls: 2nd Encore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,Fighting,Arc System Works,0.00,0.00,0.02,0.0,0.02
720,NaN,Chaos;Child,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,Visual Novel,PQube,0.00,0.00,0.02,0.0,0.02
721,NaN,Touhou Shinhiroku: Urban Legend in Limbo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,Fighting,Mediascape,0.00,0.00,0.02,0.0,0.02
722,NaN,Space Hulk: Deathwing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,Shooter,Focus Home Interactive,0.00,0.01,0.00,0.0,0.02
723,NaN,White Day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Action,PQube,0.00,0.01,0.01,0.0,0.02
724,NaN,Let It Die,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Action,GungHo,0.00,0.01,0.01,0.0,0.01
725,NaN,Summer Lesson: Miyamoto Hikari Collection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Adventure,Namco Bandai Games,0.00,0.00,0.01,0.0,0.01
726,NaN,Raven's Cry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,Role-Playing,TopWare Interactive,0.00,0.01,0.00,0.0,0.01
727,NaN,New Game! The Challenge Stage!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Adventure,5pb,0.00,0.00,0.01,0.0,0.01
728,NaN,Hakoniwa Company Works,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Strategy,Nippon Ichi Software,0.00,0.00,0.01,0.0,0.01
729,NaN,DJ Max Respect,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Misc,Arc System Works,0.00,0.00,0.01,0.0,0.01
730,NaN,Dragon's Dogma Online: Season 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Role-Playing,Capcom,0.00,0.00,0.01,0.0,0.01
731,NaN,Occultic;Nine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Adventure,5pb,0.00,0.00,0.01,0.0,0.01
732,NaN,Kono Subarashii Sekai ni Shukufuku o! Kono Yok...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Adventure,5pb,0.00,0.00,0.01,0.0,0.01
733,NaN,Battle Garegga Rev.2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,Strategy,M2,0.00,0.00,0.01,0.0,0.01
734,NaN,Yahari Game Demo Ore no Seishun Love-Kome wa M...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Adventure,5pb,0.00,0.00,0.01,0.0,0.01
735,NaN,Farming 2017 - The Simulation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,Simulation,UIG Entertainment,0.00,0.01,0.00,0.0,0.01
736,NaN,Re:Zero - Kara Hajimeru Isekai Seikatsu - Deat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Adventure,5pb,0.00,0.00,0.01,0.0,0.01
737,NaN,Zombie Vikings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,Action,Rising Star Games,0.00,0.01,0.00,0.0,0.01
738,NaN,Chaos;Child: Love Chu Chu!!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Visual Novel,5pb,0.00,0.00,0.01,0.0,0.01
739,NaN,LocoRoco Remastered,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Platform,Sony Interactive Entertainment,0.00,0.00,0.01,0.0,0.01
740,NaN,Gal Gun: Double Peace,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,Action,PQube,0.00,0.00,0.01,0.0,0.01
741,NaN,Woodcutter Simulator 2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,Action,Namco Bandai Games,0.00,0.01,0.00,0.0,0.01
742,NaN,Akiba's Trip 2+A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Adventure,Acquire,0.00,0.00,0.01,0.0,0.01
743,NaN,Date-A-Live Twin Edition: Rio Reincarnation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Adventure,Compile Heart,0.00,0.00,0.01,0.0,0.01
744,NaN,Valhalla Hills,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Strategy,Kalypso Media,0.01,0.00,0.00,0.0,0.01
745,NaN,Deception IV: Blood Ties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,Action,Tecmo Koei,0.00,0.00,0.01,0.0,0.01
746,NaN,One Piece: Unlimited World Red,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Action,Namco Bandai Games,0.00,0.00,0.01,0.0,0.01
747,NaN,Hyper Light Drifter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Role-Playing,Active Gaming Media,0.00,0.00,0.01,0.0,0.01
748,NaN,Teslagrad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0,Platform,Rain Games,0.00,0.01,0.00,0.0,0.01
749,NaN,Darius Burst: Chronicle Saviours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Action,Kadokawa Games,0.00,0.00,0.01,0.0,0.01
750,NaN,The Escapists: The Walking Dead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,Action,Team17 Software,0.00,0.00,0.00,0.0,0.01
751,NaN,Super Meat Boy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,Platform,Team Meat,0.00,0.00,0.00,0.0,0.01

In [47]:
xb_ps.columns

Index(['Pos', 'Game', 'Year_x', 'Genre_x', 'Publisher_x', 'North America_x',
       'Europe_x', 'Japan_x', 'Rest of World_x', 'Global_x', 'Year_y',
       'Genre_y', 'Publisher_y', 'North America_y', 'Europe_y', 'Japan_y',
       'Rest of World_y', 'Global_y'],
      dtype='object')

In [48]:
# Filling in certain null values to be able to complete an operation
columns_to_fill = ['North America_x',
                    'Europe_x', 'Japan_x', 'Rest of World_x', 'Global_x',
                    'North America_y', 'Europe_y', 'Japan_y',
                    'Rest of World_y', 'Global_y']
xb_ps[columns_to_fill] = xb_ps[columns_to_fill].fillna(0)

In [49]:
# Summing the two seperate categories
xb_ps['North America'] = xb_ps['North America_x'] + xb_ps['North America_y']
xb_ps['Europe'] = xb_ps['Europe_x'] + xb_ps['Europe_y']
xb_ps['Japan'] = xb_ps['Japan_x'] + xb_ps['Japan_y']
xb_ps['Rest of World'] = xb_ps['Rest of World_x'] + xb_ps['Rest of World_y']
xb_ps['Global'] = xb_ps['Global_x'] + xb_ps['Global_y']

In [50]:
xb_ps.columns

Index(['Pos', 'Game', 'Year_x', 'Genre_x', 'Publisher_x', 'North America_x',
       'Europe_x', 'Japan_x', 'Rest of World_x', 'Global_x', 'Year_y',
       'Genre_y', 'Publisher_y', 'North America_y', 'Europe_y', 'Japan_y',
       'Rest of World_y', 'Global_y', 'North America', 'Europe', 'Japan',
       'Rest of World', 'Global'],
      dtype='object')

In [51]:
# Dropping redundant columns
xb_ps.drop(columns=['North America_x',
       'Europe_x', 'Japan_x', 'Rest of World_x', 'Global_x',
       'North America_y', 'Europe_y', 'Japan_y',
       'Rest of World_y', 'Global_y',], inplace=True)

In [52]:
xb_ps.Year_x

0      2014.0
1      2015.0
2      2017.0
3      2018.0
4      2014.0
        ...
747       NaN
748       NaN
749       NaN
750       NaN
751       NaN
Name: Year_x, Length: 752, dtype: float64

In [53]:
xb_ps.Year_y

0      2014.0
1      2015.0
2      2017.0
3      2018.0
4      2014.0
        ...
747    2017.0
748    2014.0
749    2017.0
750    2016.0
751    2016.0
Name: Year_y, Length: 752, dtype: float64

In [54]:
# Looping throught the values in column_x and comapring to column_y and replacing or leaving the value unless it is null, It will return the the value in column_y
xb_ps['Year'] = xb_ps.apply(lambda row: row['Year_x'] if pd.isnull(row['Year_y']) else row['Year_y'], axis=1)

In [55]:
xb_ps.Year.isnull().sum()

3

In [56]:
xb_ps.columns

Index(['Pos', 'Game', 'Year_x', 'Genre_x', 'Publisher_x', 'Year_y', 'Genre_y',
       'Publisher_y', 'North America', 'Europe', 'Japan', 'Rest of World',
       'Global', 'Year'],
      dtype='object')

In [57]:
# dropping these columns
xb_ps.drop(columns=['Year_x', 'Year_y'], inplace=True)

In [58]:
# Looping throught the values in column_x and comapring to column_y and replacing or leaving the value unless it is null, It will return the the value in column_y
xb_ps['Genre'] = xb_ps.apply(lambda row: row['Genre_x'] if pd.isnull(row['Genre_y']) else row['Genre_y'], axis=1)

In [59]:
xb_ps.Genre.isnull().sum()

0

In [60]:
xb_ps.drop(columns=['Genre_x', 'Genre_y'], inplace=True)

In [61]:
# Looping throught the values in column_x and comapring to column_y and replacing or leaving the value unless it is null, It will return the the value in column_y
xb_ps['Publisher'] = xb_ps.apply(lambda row: row['Publisher_x'] if pd.isnull(row['Publisher_y']) else row['Publisher_y'], axis=1)

In [62]:
xb_ps.drop(columns=['Publisher_x', 'Publisher_y'], inplace=True)

In [63]:
xb_ps.columns

Index(['Pos', 'Game', 'North America', 'Europe', 'Japan', 'Rest of World',
       'Global', 'Year', 'Genre', 'Publisher'],
      dtype='object')

In [64]:
xb_ps

,Pos,Game,North America,Europe,Japan,Rest of World,Global,Year,Genre,Publisher
0,1.0,Grand Theft Auto V,10.76,12.96,0.61,3.78,28.11,2014.0,Action,Rockstar Games
1,2.0,Call of Duty: Black Ops 3,10.81,8.09,0.43,3.12,22.46,2015.0,Shooter,Activision
2,3.0,Call of Duty: WWII,8.42,8.12,0.40,2.69,19.63,2017.0,Shooter,Activision
3,4.0,Red Dead Redemption 2,9.02,7.68,0.21,2.80,19.71,2018.0,Action-Adventure,Rockstar Games
4,5.0,MineCraft,5.12,4.84,0.35,1.45,11.76,2014.0,Misc,Sony Computer Entertainment
...,...,...,...,...,...,...,...,...,...,...
747,NaN,Hyper Light Drifter,0.00,0.00,0.01,0.00,0.01,2017.0,Role-Playing,Active Gaming Media
748,NaN,Teslagrad,0.00,0.01,0.00,0.00,0.01,2014.0,Platform,Rain Games
749,NaN,Darius Burst: Chronicle Saviours,0.00,0.00,0.01,0.00,0.01,2017.0,Action,Kadokawa Games
750,NaN,The Escapists: The Walking Dead,0.00,0.00,0.00,0.00,0.01,2016.0,Action,Team17 Software
751,NaN,Super Meat Boy,0.00,0.00,0.00,0.00,0.01,2016.0,Platform,Team Meat

In [65]:
len(xb_ps)

752

In [66]:
# merging nin to xb_ps to create total_sales
total_sales = pd.merge(xb_ps, nin, on='Game', how='outer')
total_sales

,Pos,Game,North America_x,Europe_x,Japan_x,Rest of World_x,Global_x,Year_x,Genre_x,Publisher_x,Year_y,Genre_y,Publisher_y,North America_y,Europe_y,Japan_y,Rest of World_y,Global_y
0,1.0,Grand Theft Auto V,10.76,12.96,0.61,3.78,28.11,2014.0,Action,Rockstar Games,2013.0,Action,Take-Two Interactive,7.02,9.09,0.98,3.96,21.04
1,1.0,Grand Theft Auto V,10.76,12.96,0.61,3.78,28.11,2014.0,Action,Rockstar Games,2013.0,Action,Take-Two Interactive,9.66,5.14,0.06,1.41,16.27
2,1.0,Grand Theft Auto V,10.76,12.96,0.61,3.78,28.11,2014.0,Action,Rockstar Games,2014.0,Action,Take-Two Interactive,3.96,6.31,0.38,1.97,12.61
3,1.0,Grand Theft Auto V,10.76,12.96,0.61,3.78,28.11,2014.0,Action,Rockstar Games,2014.0,Action,Take-Two Interactive,2.81,2.19,0.00,0.47,5.48
4,1.0,Grand Theft Auto V,10.76,12.96,0.61,3.78,28.11,2014.0,Action,Rockstar Games,2015.0,Action,Take-Two Interactive,0.39,0.69,0.00,0.09,1.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17032,NaN,15 Days,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.0,Adventure,DTP Entertainment,0.00,0.01,0.00,0.00,0.01
17033,NaN,Aiyoku no Eustia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0,Misc,dramatic create,0.00,0.00,0.01,0.00,0.01
17034,NaN,Woody Woodpecker in Crazy Castle 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
17035,NaN,LMA Manager 2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01
17036,NaN,Haitaka no Psychedelica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01

In [67]:
# Filling in certain null values to be able to complete an operation
columns_to_fill = ['North America_x',
                    'Europe_x', 'Japan_x', 'Rest of World_x', 'Global_x',
                    'North America_y', 'Europe_y', 'Japan_y',
                    'Rest of World_y', 'Global_y']
total_sales[columns_to_fill] = total_sales[columns_to_fill].fillna(0)

In [68]:
# Summing the two seperate categories
total_sales['North America'] = total_sales['North America_x'] + total_sales['North America_y']
total_sales['Europe'] = total_sales['Europe_x'] + total_sales['Europe_y']
total_sales['Japan'] = total_sales['Japan_x'] + total_sales['Japan_y']
total_sales['Rest of World'] = total_sales['Rest of World_x'] + total_sales['Rest of World_y']
total_sales['Global'] = total_sales['Global_x'] + total_sales['Global_y']

In [69]:
total_sales.drop(columns=['North America_x',
       'Europe_x', 'Japan_x', 'Rest of World_x', 'Global_x',
       'North America_y', 'Europe_y', 'Japan_y',
       'Rest of World_y', 'Global_y',], inplace=True)

In [70]:
# Looping throught the values in column_x and comapring to column_y and replacing or leaving the value unless it is null, It will return the the value in column_y
total_sales['Year'] = total_sales.apply(lambda row: row['Year_x'] if pd.isnull(row['Year_y']) else row['Year_y'], axis=1)

In [71]:
# Dropping redundant columns
total_sales.drop(columns=['Year_x', 'Year_y'], inplace=True)

In [72]:
# Looping throught the values in column_x and comapring to column_y and replacing or leaving the value unless it is null, It will return the the value in column_y
total_sales['Genre'] = total_sales.apply(lambda row: row['Genre_x'] if pd.isnull(row['Genre_y']) else row['Genre_y'], axis=1)

In [73]:
# Dropping redundant columns
total_sales.drop(columns=['Genre_x', 'Genre_y'], inplace=True)

In [74]:
# Looping throught the values in column_x and comapring to column_y and replacing or leaving the value unless it is null, It will return the the value in column_y
total_sales['Publisher'] = total_sales.apply(lambda row: row['Publisher_y'] if pd.isnull(row['Publisher_x']) else row['Publisher_x'], axis=1)

In [75]:
# Dropping redundant columns
total_sales.drop(columns=['Publisher_x', 'Publisher_y'], inplace=True)

In [76]:
# Dropping unnecessary column
total_sales.drop(columns=['Pos'], inplace=True)

In [77]:
total_sales.isnull().sum()

Game               2
North America      0
Europe             0
Japan              0
Rest of World      0
Global             0
Year             268
Genre              2
Publisher         54
dtype: int64

In [78]:
total_sales.head(10)

,Game,North America,Europe,Japan,Rest of World,Global,Year,Genre,Publisher
0,Grand Theft Auto V,17.78,22.05,1.59,7.74,49.15,2013.0,Action,Rockstar Games
1,Grand Theft Auto V,20.42,18.10,0.67,5.19,44.38,2013.0,Action,Rockstar Games
2,Grand Theft Auto V,14.72,19.27,0.99,5.75,40.72,2014.0,Action,Rockstar Games
3,Grand Theft Auto V,13.57,15.15,0.61,4.25,33.59,2014.0,Action,Rockstar Games
4,Grand Theft Auto V,11.15,13.65,0.61,3.87,29.28,2015.0,Action,Rockstar Games
5,Call of Duty: Black Ops 3,16.84,13.95,0.79,5.50,37.09,2015.0,Shooter,Activision
6,Call of Duty: Black Ops 3,15.40,10.20,0.44,3.80,29.85,2015.0,Shooter,Activision
7,Call of Duty: Black Ops 3,11.95,8.49,0.43,3.28,24.17,2015.0,Shooter,Activision
8,Call of Duty: Black Ops 3,11.30,8.96,0.50,3.38,24.15,2015.0,Shooter,Activision
9,Call of Duty: Black Ops 3,10.81,8.34,0.43,3.13,22.72,2015.0,Shooter,Activision

In [79]:
len(total_sales)

17037

In [80]:
# creating a new dataframe to aggregate the columns with the sum but only the features chosen not Year
total_grp_sales = total_sales.groupby('Game').agg({'North America': 'sum', 'Europe': 'sum', 
                                 'Japan': 'sum', 'Rest of World': 'sum', 
                                 'Global': 'sum'})
total_grp_sales = total_grp_sales.reset_index()

total_grp_sales

,Game,North America,Europe,Japan,Rest of World,Global
0,Beyblade Burst,0.00,0.00,0.03,0.00,0.03
1,Fire Emblem Fates,0.81,0.23,0.52,0.11,1.68
2,Frozen: Olaf's Quest,0.48,0.53,0.00,0.09,1.12
3,Haikyu!! Cross Team Match!,0.00,0.00,0.04,0.00,0.04
4,Tales of Xillia 2,0.20,0.12,0.45,0.07,0.84
...,...,...,...,...,...,...
11875,thinkSMART: Chess for Kids,0.01,0.00,0.00,0.00,0.01
11876,uDraw Studio,1.65,0.57,0.00,0.20,2.42
11877,uDraw Studio: Instant Artist,0.07,0.10,0.00,0.02,0.19
11878,wwe Smackdown vs. Raw 2006,1.57,1.02,0.00,0.41,3.00
11879,¡Shin Chan Flipa en colores!,0.00,0.00,0.14,0.00,0.14

In [81]:
# Creating a Year df that to add back to the total_grp_sales
year = pd.DataFrame(total_sales[['Game', 'Year']])
year

                                     Game    Year
0                      Grand Theft Auto V  2013.0
1                      Grand Theft Auto V  2013.0
2                      Grand Theft Auto V  2014.0
3                      Grand Theft Auto V  2014.0
4                      Grand Theft Auto V  2015.0
...                                   ...     ...
17032                             15 Days  2009.0
17033                    Aiyoku no Eustia  2014.0
17034  Woody Woodpecker in Crazy Castle 5  2002.0
17035                    LMA Manager 2007  2006.0
17036             Haitaka no Psychedelica  2016.0

[17037 rows x 2 columns]

In [82]:
# Merging the year and the total_group_sales df
total_grp_sales = pd.merge(total_grp_sales, year, on='Game', how='inner')

In [83]:
# Dropping duplicaate values
total_grp_sales = total_grp_sales.drop_duplicates()
total_grp_sales

,Game,North America,Europe,Japan,Rest of World,Global,Year
0,Beyblade Burst,0.00,0.00,0.03,0.00,0.03,2016.0
1,Fire Emblem Fates,0.81,0.23,0.52,0.11,1.68,2015.0
2,Frozen: Olaf's Quest,0.48,0.53,0.00,0.09,1.12,2013.0
4,Haikyu!! Cross Team Match!,0.00,0.00,0.04,0.00,0.04,2016.0
5,Tales of Xillia 2,0.20,0.12,0.45,0.07,0.84,2012.0
...,...,...,...,...,...,...,...
17029,thinkSMART: Chess for Kids,0.01,0.00,0.00,0.00,0.01,2011.0
17030,uDraw Studio,1.65,0.57,0.00,0.20,2.42,2010.0
17031,uDraw Studio: Instant Artist,0.07,0.10,0.00,0.02,0.19,2011.0
17033,wwe Smackdown vs. Raw 2006,1.57,1.02,0.00,0.41,3.00,NaN
17034,¡Shin Chan Flipa en colores!,0.00,0.00,0.14,0.00,0.14,2007.0

In [84]:

total_grp_sales.isna().sum()

Game               0
North America      0
Europe             0
Japan              0
Rest of World      0
Global             0
Year             231
dtype: int64

In [85]:
# Dropping rows with null values
total_grp_sales = total_grp_sales.dropna()
total_grp_sales

,Game,North America,Europe,Japan,Rest of World,Global,Year
0,Beyblade Burst,0.00,0.00,0.03,0.00,0.03,2016.0
1,Fire Emblem Fates,0.81,0.23,0.52,0.11,1.68,2015.0
2,Frozen: Olaf's Quest,0.48,0.53,0.00,0.09,1.12,2013.0
4,Haikyu!! Cross Team Match!,0.00,0.00,0.04,0.00,0.04,2016.0
5,Tales of Xillia 2,0.20,0.12,0.45,0.07,0.84,2012.0
...,...,...,...,...,...,...,...
17028,thinkSMART FAMILY!,0.03,0.00,0.00,0.00,0.03,2010.0
17029,thinkSMART: Chess for Kids,0.01,0.00,0.00,0.00,0.01,2011.0
17030,uDraw Studio,1.65,0.57,0.00,0.20,2.42,2010.0
17031,uDraw Studio: Instant Artist,0.07,0.10,0.00,0.02,0.19,2011.0
17034,¡Shin Chan Flipa en colores!,0.00,0.00,0.14,0.00,0.14,2007.0

In [86]:
# Creating the final version of the df that will be used...... FINALLY!
df = pd.merge(total_grp_sales, meta, on='Game', how='inner')

In [87]:
df.isna().sum()

Game             0
North America    0
Europe           0
Japan            0
Rest of World    0
Global           0
Year             0
Meta Score       0
User Review      0
dtype: int64

In [88]:
df

,Game,North America,Europe,Japan,Rest of World,Global,Year,Meta Score,User Review
0,.hack//G.U. Last Recode,0.10,0.04,0.08,0.03,0.24,2017.0,72.500000,8.150000
1,.hack//Infection Part 1,0.49,0.38,0.26,0.13,1.27,2002.0,75.000000,8.300000
2,.hack//Mutation Part 2,0.23,0.18,0.20,0.06,0.68,2002.0,76.000000,8.500000
3,.hack//Outbreak Part 3,0.14,0.11,0.17,0.04,0.46,2002.0,70.000000,8.200000
4,007 Racing,0.30,0.20,0.00,0.03,0.53,2000.0,51.000000,4.900000
...,...,...,...,...,...,...,...,...,...
4983,de Blob 2,0.40,0.19,0.00,0.07,0.65,2011.0,74.833333,7.350000
4984,echochrome,0.00,0.01,0.08,0.00,0.09,2008.0,80.000000,7.550000
4985,htoL#NiQ: The Firefly Diary,0.00,0.00,0.01,0.00,0.01,2014.0,58.000000,7.500000
4986,nail'd,0.16,0.04,0.00,0.03,0.22,2010.0,66.333333,6.966667
4987,theHunter: Call of the Wild,0.37,0.00,0.00,0.06,0.45,2017.0,64.000000,7.100000

In [89]:

# Round all the metascores to ones
df['Meta Score'] = df['Meta Score'].apply(lambda x: int(round(x)))

In [90]:
# Rounding to two decimal places
df['User Review'] = round(df['User Review'],2)

In [91]:
# getting info to make sure all is good
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4988 entries, 0 to 4987
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Game           4988 non-null   object
 1   North America  4988 non-null   float64
 2   Europe         4988 non-null   float64
 3   Japan          4988 non-null   float64
 4   Rest of World  4988 non-null   float64
 5   Global         4988 non-null   float64
 6   Year           4988 non-null   float64
 7   Meta Score     4988 non-null   int64
 8   User Review    4988 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 389.7+ KB

In [92]:
# Statistical Summary
df.describe()

,North America,Europe,Japan,Rest of World,Global,Year,Meta Score,User Review
count,4988.00000,4988.000000,4988.000000,4988.000000,4988.000000,4988.000000,4988.000000,4988.000000
mean,0.93343,0.623869,0.144673,0.210623,1.913023,2006.854451,70.653569,7.284088
std,2.91510,3.005595,0.460282,0.924548,6.747657,5.129765,13.184789,1.264434
min,0.00000,0.000000,0.000000,0.000000,0.010000,1980.000000,22.000000,1.300000
25%,0.08000,0.020000,0.000000,0.010000,0.160000,2003.000000,63.000000,6.750000
50%,0.24000,0.100000,0.000000,0.040000,0.510000,2007.000000,73.000000,7.600000
75%,0.79000,0.420000,0.080000,0.140000,1.550000,2010.000000,80.000000,8.200000
max,77.64000,88.220000,6.500000,26.800000,197.120000,2018.000000,99.000000,9.700000

In [114]:
# Creating a genre df to add to the final df
genre = total_sales[['Game', 'Genre', 'Publisher']]
genre[genre['Game']=='Resident Evil 4']

                 Game   Genre Publisher
2068  Resident Evil 4  Action    Capcom
2069  Resident Evil 4  Action    Capcom
2070  Resident Evil 4  Action    Capcom
2071  Resident Evil 4  Action   Ubisoft

In [94]:
# Merging the genres to the final df
df = pd.merge(df, genre, on='Game', how='inner')

In [95]:
df.isna().sum()

Game             0
North America    0
Europe           0
Japan            0
Rest of World    0
Global           0
Year             0
Meta Score       0
User Review      0
Genre            0
Publisher        6
dtype: int64

In [96]:
# dropping rows with null values
df = df.dropna()

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9529 entries, 0 to 9534
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Game           9529 non-null   object
 1   North America  9529 non-null   float64
 2   Europe         9529 non-null   float64
 3   Japan          9529 non-null   float64
 4   Rest of World  9529 non-null   float64
 5   Global         9529 non-null   float64
 6   Year           9529 non-null   float64
 7   Meta Score     9529 non-null   int64
 8   User Review    9529 non-null   float64
 9   Genre          9529 non-null   object
 10  Publisher      9529 non-null   object
dtypes: float64(7), int64(1), object(3)
memory usage: 893.3+ KB

In [98]:
df.head()

,Game,North America,Europe,Japan,Rest of World,Global,Year,Meta Score,User Review,Genre,Publisher
0,.hack//G.U. Last Recode,0.10,0.04,0.08,0.03,0.24,2017.0,72,8.15,Role-Playing,Namco Bandai Games
1,.hack//Infection Part 1,0.49,0.38,0.26,0.13,1.27,2002.0,75,8.30,Role-Playing,Atari
2,.hack//Mutation Part 2,0.23,0.18,0.20,0.06,0.68,2002.0,76,8.50,Role-Playing,Atari
3,.hack//Outbreak Part 3,0.14,0.11,0.17,0.04,0.46,2002.0,70,8.20,Role-Playing,Atari
4,007 Racing,0.30,0.20,0.00,0.03,0.53,2000.0,51,4.90,Racing,Electronic Arts

In [99]:
from acquire import get_ign_500_games

In [100]:
ign_games = get_ign_500_games()

In [101]:
ign_games['Game'] = ign_games['Game'].str.replace(r'\[.*?\]', '', regex=True)

In [102]:
ign_games

     IGN Position                                     Game
0               1  The Legend of Zelda: Breath of the Wild
1               2                                  Tetris
2               3                           The Last of Us
3               4     The Legend of Zelda: Ocarina of Time
4               5                              Half-Life 2
..            ...                                      ...
495           496               Battlefield: Bad Company 2
496           497                                 Spacewar
497           498                                    Joust
498           499            Super Puzzle Fighter II Turbo
499           500                  The World Ends with You

[500 rows x 2 columns]

In [103]:
df = pd.merge(total_grp_sales, ign_games, on='Game', how='left')

In [104]:
df

,Game,North America,Europe,Japan,Rest of World,Global,Year,IGN Position
0,Beyblade Burst,0.00,0.00,0.03,0.00,0.03,2016.0,NaN
1,Fire Emblem Fates,0.81,0.23,0.52,0.11,1.68,2015.0,NaN
2,Frozen: Olaf's Quest,0.48,0.53,0.00,0.09,1.12,2013.0,NaN
3,Haikyu!! Cross Team Match!,0.00,0.00,0.04,0.00,0.04,2016.0,NaN
4,Tales of Xillia 2,0.20,0.12,0.45,0.07,0.84,2012.0,NaN
...,...,...,...,...,...,...,...,...
12511,thinkSMART FAMILY!,0.03,0.00,0.00,0.00,0.03,2010.0,NaN
12512,thinkSMART: Chess for Kids,0.01,0.00,0.00,0.00,0.01,2011.0,NaN
12513,uDraw Studio,1.65,0.57,0.00,0.20,2.42,2010.0,NaN
12514,uDraw Studio: Instant Artist,0.07,0.10,0.00,0.02,0.19,2011.0,NaN
12515,¡Shin Chan Flipa en colores!,0.00,0.00,0.14,0.00,0.14,2007.0,NaN

In [113]:
df[df['Game']=='Resident Evil 4']

Empty DataFrame
Columns: [Game, North America, Europe, Japan, Rest of World, Global, Year, IGN Position]
Index: []

In [105]:
df[df['IGN Position'].isna()==False]

,Game,North America,Europe,Japan,Rest of World,Global,Year,IGN Position
193,Advance Wars,0.50,0.19,0.00,0.01,0.70,2001.0,113.0
225,Age of Empires II: The Age of Kings,0.01,0.08,0.00,0.01,0.09,1999.0,205.0
295,Alien: Isolation,3.43,5.41,0.29,1.29,10.44,2014.0,315.0
374,Angry Birds,0.00,0.18,0.00,0.05,0.24,2011.0,206.0
381,Animal Crossing,1.92,0.16,0.99,0.09,3.15,2001.0,209.0
...,...,...,...,...,...,...,...,...
12245,XCOM 2,1.08,0.58,0.00,0.25,1.92,2016.0,410.0
12246,XCOM: Enemy Unknown,0.87,0.80,0.00,0.23,1.90,2012.0,179.0
12259,Xenoblade Chronicles,0.70,0.39,0.28,0.11,1.47,2010.0,188.0
12260,Xenoblade Chronicles,0.70,0.39,0.28,0.11,1.47,2015.0,188.0
12262,Xenogears,0.29,0.19,0.89,0.10,1.46,1998.0,449.0

In [106]:
df[df['IGN Position'].isna()==True]

,Game,North America,Europe,Japan,Rest of World,Global,Year,IGN Position
0,Beyblade Burst,0.00,0.00,0.03,0.00,0.03,2016.0,NaN
1,Fire Emblem Fates,0.81,0.23,0.52,0.11,1.68,2015.0,NaN
2,Frozen: Olaf's Quest,0.48,0.53,0.00,0.09,1.12,2013.0,NaN
3,Haikyu!! Cross Team Match!,0.00,0.00,0.04,0.00,0.04,2016.0,NaN
4,Tales of Xillia 2,0.20,0.12,0.45,0.07,0.84,2012.0,NaN
...,...,...,...,...,...,...,...,...
12511,thinkSMART FAMILY!,0.03,0.00,0.00,0.00,0.03,2010.0,NaN
12512,thinkSMART: Chess for Kids,0.01,0.00,0.00,0.00,0.01,2011.0,NaN
12513,uDraw Studio,1.65,0.57,0.00,0.20,2.42,2010.0,NaN
12514,uDraw Studio: Instant Artist,0.07,0.10,0.00,0.02,0.19,2011.0,NaN
12515,¡Shin Chan Flipa en colores!,0.00,0.00,0.14,0.00,0.14,2007.0,NaN

In [107]:
df = pd.merge(total_grp_sales, ign_games, on='Game', how='right')

In [108]:
df

,Game,North America,Europe,Japan,Rest of World,Global,Year,IGN Position
0,The Legend of Zelda: Breath of the Wild,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Tetris,NaN,NaN,NaN,NaN,NaN,NaN,2
2,The Last of Us,9.69,9.90,0.57,3.96,24.12,2013.0,3
3,The Last of Us,9.69,9.90,0.57,3.96,24.12,2014.0,3
4,The Legend of Zelda: Ocarina of Time,6.19,3.20,2.07,0.47,11.93,1998.0,4
...,...,...,...,...,...,...,...,...
591,Battlefield: Bad Company 2,3.62,2.64,0.12,0.76,7.14,2010.0,496
592,Spacewar,NaN,NaN,NaN,NaN,NaN,NaN,497
593,Joust,1.01,0.06,0.00,0.01,1.08,1982.0,498
594,Super Puzzle Fighter II Turbo,0.08,0.05,0.00,0.01,0.14,1996.0,499
595,The World Ends with You,NaN,NaN,NaN,NaN,NaN,NaN,500

In [109]:
#### testing the right method ####
df[df['Europe'].isna()==True]

,Game,North America,Europe,Japan,Rest of World,Global,Year,IGN Position
0,The Legend of Zelda: Breath of the Wild,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Tetris,NaN,NaN,NaN,NaN,NaN,NaN,2
13,Resident Evil 4,NaN,NaN,NaN,NaN,NaN,NaN,9
25,Shadow of the Colossus,NaN,NaN,NaN,NaN,NaN,NaN,16
27,Doom (1993),NaN,NaN,NaN,NaN,NaN,NaN,18
...,...,...,...,...,...,...,...,...
583,Teenage Mutant Ninja Turtles IV: Turtles in Time,NaN,NaN,NaN,NaN,NaN,NaN,489
586,Castle Crashers,NaN,NaN,NaN,NaN,NaN,NaN,491
590,SingStar,NaN,NaN,NaN,NaN,NaN,NaN,495
592,Spacewar,NaN,NaN,NaN,NaN,NaN,NaN,497
595,The World Ends with You,NaN,NaN,NaN,NaN,NaN,NaN,500